body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../assets/background_image.jpg');
  min-height:20%;
}

.pimg2{
  background-image:url('../');
  min-height:400px;
}

.pimg3{
  background-image:url('../');
  min-height:400px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}


nav{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 99;
  box-shadow: 0 0 10px #000;
  background-color: rgb(252, 249, 249) ;
  }
  nav .logo{
  flex: 1;
  color: rgb(2, 37, 18);
  text-shadow: 0 0 2px #000;
  margin-left: 50px;
  }
  nav ul{
  flex: 2;
  display: flex;
  justify-content: space-evenly;
  }
  nav ul li{
  list-style: none;
  }
  nav ul li a{
  text-decoration: none;
  color: rgb(2, 37, 18);
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 15px;
  }
  .fa-facebook{
  color: #3b5998;;
  }
  .fa-twitter{
  color: #55acee;
  }
  .fa-instagram{
  color: #ee1414;
  }
  nav ul li a:hover{
  border-bottom: 2px solid cadetblue;
  }
  nav .menu{
  font-size: 2.5em;
  display: none;
  }

  @media (max-width:1000px){
    nav ul{
    position: fixed;
    top:100px;
    right: -120%;
    background: whitesmoke;
    height: calc(100vh - 100px);
    width: 50%;
    flex-direction: column;
    align-items: center;
    transition: right 0.3s linear;
    }
    nav .menu{
    display: block;
    width: 100px;
    text-align: center;
    }
    #chk1:checked ~ ul{
    right: 0;
    }
  }
  @media (max-width:500px){
    nav .logo{
    margin-left: 10px;
    }
    .logo h1{
    font-size: 1.5em;
    }
    nav ul{
    width: 100%;
    }
  }
  input[type="checkbox"]{
  display: none;
  }
